# Final Project

In [22]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import string

In [3]:
data_set = pd.read_csv('yelp_review.csv')

In [7]:
data_set.sample(n = 5)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
4905898,NhMyBEAdpGXJNqoAeRxl3g,HEvyblFw4I-UsMqgPGYY_Q,EkYbGk9L5KdCfL3ocZ7ETQ,5,2017-03-20,I rarely give out 5 star reviews anymore. But ...,1,0,0
3705014,Ld3yPzBOanahANC4oxbNrw,K-89BPt-F6DD8reawS8qpg,pSQFynH1VxkfSmehRXlZWw,5,2016-01-01,"The pizza, salad, and bread are outstanding. T...",0,0,0
3917362,Ci75zacnhlMJt7hNjQD0fA,nP4i_0DYeEW0xgN0qD5GtQ,L4r6klm7FG4QBbNe8gu5-A,5,2016-12-30,Squirrel Hill is a neighborhood replete with c...,1,0,0
4416780,PlX0xktXgIXxAv-YJJjV9A,brzghuWHJyhHpWbKRmO9bg,2vL6xxAxRhJS7LabjjDyhw,5,2015-05-12,"Amazing drinks, great atmosphere and one of th...",0,0,0
2827520,vFpJMs95-LKxqR8OIh_gtA,K2tNBXAs_E_GRfAC0-AFcA,Riei2mJ51OPhilVauV8NTg,1,2017-07-18,I am very disappointed in the customer service...,1,0,0

In [8]:
df = data_set[['stars','text']]

In [29]:
df.sample(n = 10)

In [25]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Babak\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Babak\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [35]:
def get_tokens(sentence):
#sent = "this is a foo bar, bar black sheep."
    stop = stopwords.words('english') + list(string.punctuation)
    return [i for i in word_tokenize(sentence.lower()) if i not in stop]

In [57]:
sample = df.sample(n=5)

In [58]:
sample

         stars                                               text
3008100      5  Hard not to give this place 5 stars. Aside fro...
55893        4  If you're looking for some solid Thai food, th...
3269788      5  Decided to try something new (the lumberjack B...
1506844      3  Had lunch at Sandy's today. Nice big selection...
4470610      2  disorganized service (several mistakes and pro...

In [60]:
sample.at[5, 'text'] = 'Hard place stars Aside disorganized service'

In [61]:
for index,row in sample.iterrows():
    tokens = get_tokens(sample.text[index])
    for token in tokens:
        if token not in sample.columns.values:
            sample.at[index, token] = 1
        else:
            sample.at[index, token] += 1

In [62]:
print(sample)

         stars                                               text  hard  give  \
3008100    6.0  Hard not to give this place 5 stars. Aside fro...   2.0   1.0
55893      4.0  If you're looking for some solid Thai food, th...   NaN   NaN
3269788    5.0  Decided to try something new (the lumberjack B...   NaN   NaN
1506844    3.0  Had lunch at Sandy's today. Nice big selection...   NaN   NaN
4470610    2.0  disorganized service (several mistakes and pro...   NaN   NaN
5          NaN        Hard place stars Aside disorganized service   NaN   NaN

         place    5  aside  ridiculous  reservation  wait   ...     chips  \
3008100    2.0  1.0    1.0         1.0          1.0   1.0   ...       NaN
55893      NaN  NaN    NaN         NaN          NaN   NaN   ...       NaN
3269788    NaN  NaN    NaN         NaN          NaN   NaN   ...       NaN
1506844    NaN  NaN    NaN         NaN          NaN   NaN   ...       NaN
4470610    NaN  NaN    NaN         NaN          NaN   NaN   ...       1.0
5          NaN  NaN    NaN         NaN          NaN   NaN   ...       NaN

         oversalted  guacamole  cheap  plastic  menu  tasting  avoid   go  \
3008100         NaN        NaN    NaN      NaN   NaN      NaN    NaN  NaN
55893           NaN        NaN    NaN      NaN   NaN      NaN    NaN  NaN
3269788         NaN        NaN    NaN      NaN   NaN      NaN    NaN  NaN
1506844         NaN        NaN    NaN      NaN   NaN      NaN    NaN  NaN
4470610         1.0        1.0    2.0      2.0   1.0      1.0    1.0  1.0
5               NaN        NaN    NaN      NaN   NaN      NaN    NaN  NaN

         grumann
3008100      NaN
55893        NaN
3269788      NaN
1506844      NaN
4470610      1.0
5            NaN

[6 rows x 177 columns]